<aside class="app-menu">

                <div class="scrollbar-section">
                    <div class="channels-widget" >
                        {{ appdict }}
                        {% for key in appdict %}

                        <div class="title collapse-control" href="#{{ key }}" data-toggle="collapse">
                            <span class={{ iconvariable }}></span>
                            <span>{{ key }}</span>
                            <span class="collapse-icon icon-arrow-top"></span>
                            <!--<span class="badge">999 <span class="plus">+</span></span>-->
                        </div>
                            {% for row in appdict[key] %}
                        <div class="widget-content collapsible-section collapse in" id="{{ key }}">
                        {#<a href="#addCategory" class="dropdown-item" data-toggle="modal" data-target="#addCategory">Add a bla</a><br /><!-- Modal popup in a dropdown doesn't work, must use directcall via jquery-->#}

                            <div class="info"><span>{{ row }}</span>
                                    {#<li class="dropdown ">#}

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-settings"></i></a>
                                    <ul class="dropdown-menu" role="menu"><!--<span class="channels-count">(5)</span><a href="#"><span class="icon-plus"></span></a>-->
                                        <div class="wrapper">
                                        <a href="javascript:$('#modal{{ row }}').modal('show')" class="dropdown-item" data-toggle="modal" data-target="#modal">Add a #Channel</a><br /><!-- Modal popup in a dropdown doesn't work, must use directcall via jquery-->
                                        <a href="javascript:$('#modalcategory{{ row }}').modal('show')" class="dropdown-item" data-toggle="modal" data-target="#modal">Add category</a><br />
                                        <a href="javascript:$('#modal_rename_category{{ row }}').modal('show')" class="dropdown-item" data-toggle="modal" data-target="#modal">Rename category</a><br />
                                        <a href="javascript:$('#modal_delete_category{{ row }}').modal('show')" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Delete category</a><br />

                                    </ul>

                                </div>
                            {#{% end %}#}
                            <ul class="channels-list">


                                {#bloup{{ appdict[key][row] }}#}
                                {#appdict key{{ appdict[key] }}#}
                                {#{% for entry in row[key] %}#}
                                {% for entry in appdict[key][row] %}
                                <li><a  href="./{{ entry }}">{{ entry }}</a><div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="icon-members channels-list li a:hover"></span></a>
    <ul class="dropdown-menu">
        <li><button type="submit" href="#">Mute</button></li><!--not implemented-->
        <li><a href="javascript:$('#modal_rename_channel{{ entry }}').modal('show')">Rename</a></li>
        <li><a href="javascript:$('#modal_move_channel{{ entry }}').modal('show')">Move</a></li>
        <li><a href="javascript:$('#modal_delete_channel{{ entry }}').modal('show')">Delete</a></li>
    </ul>
</div></li>
                                <div class="modal fade create-group" id="modal_rename_channel{{ entry }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Rename channel {{ entry }}</h4>
                                        <form id="rename_channel{{ entry }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>Categories are used to classify your channels</label>
                                            {#{{ appdict[key] }}#}
                                            {{ row }}
                                            <input type="text" name="new_channel_name" class="verif content"/>
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            <input type ="hidden" name="old_channel_name" value="{{ entry }}">
                                            <input type="hidden" name="currenturl" value="{{ currenturl }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        {#<label>Add users to this group <span>(optional)</span></label>#}
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        {#<div form="{{ key }}form" id="userselect" class="new_members ajax-result">#}
                                                {#{%  for row in AllUserNames %}#}
                                                     {#<input type="checkbox" form="{{ key }}form" name="userlist" value="{{ row[0] }}"/> {{ row[0] }}<br />#}
                                                {#{% end %}#}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        {#</div>#}
                                        <div class="modal-footer">
                                            <button type="button" name="rename_channel_close" form="rename_channel{{ entry }}form" class="btn btn-secondary" data-dismiss="modal">close</button>
                                            <button type="submit" name="rename_channel" form="rename_channel{{ entry }}form" class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                <div class="modal fade create-group" id="modal_move_channel{{ entry }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Move channel {{ entry }}</h4>
                                        <form id="{{ entry }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>chose a category</label>

                                            {#{{ row }}#}
                                            {#{% end %}#}
                                            {#{{ appdict[key] }}#}
                                            {#{{ row }}#}
                                            {#<input type="text" name="groupname" class="verif content"/>#}
                                            <input type ="hidden" name="channel_name" value="{{ entry }}">
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            <input type ="hidden" name="old_category_name" value="{{ row }}">
                                            <input type="hidden" name="currenturl" value="{{ currenturl }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        <label>Select the destination category <span>(optional)</span></label>
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        <div form="{{ entry }}form" id="userselect" class="new_members ajax-result">
                                                {% for row in appdict[key] %}
                                                     <input type="radio" form="{{ entry }}form" name="category_list" value="{{ row }}"/> {{ row }}<br />
                                                {% end %}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" name="modal_move_channel_close" form="{{ entry }}form" class="btn btn-secondary" data-dismiss="modal">close</button>
                                            <button type="submit" name="modal_move_channel" form="{{ entry }}form" class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                <div class="modal fade create-group" id="modal_delete_channel{{ entry }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Delete channel {{ entry }}</h4>
                                        <form id="delete_channel{{ entry }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>Do you really want to delete {{ entry }} ?</label>
                                            {#{{ appdict[key] }}#}
                                            {{ row }}
                                            {#<input type="text" name="new_categoryname" class="verif content"/>#}
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            <input type ="hidden" name="delete_channel_name" value="{{ entry }}">
                                            <input type="hidden" name="currenturl" value="{{ currenturl }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        {#<label>Add users to this group <span>(optional)</span></label>#}
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        {#<div form="{{ key }}form" id="userselect" class="new_members ajax-result">#}
                                                {#{%  for row in AllUserNames %}#}
                                                     {#<input type="checkbox" form="{{ key }}form" name="userlist" value="{{ row[0] }}"/> {{ row[0] }}<br />#}
                                                {#{% end %}#}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        {#</div>#}
                                        <div class="modal-footer">
                                            <button type="button" name="delete_channel_close" form="delete_channel{{ entry }}form" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <button type="submit" name="delete_channel_delete" form="delete_channel{{ entry }}form" class="btn btn-danger">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                {% end %}
                                {% end %}

                            </ul>



                                    </div>
                        {% end %}

                    {% for key in appdict %}
                        {% for row in appdict[key] %}
                    {#{% block modal %}#}
                        <!-- create new channel-->
                        <div class="modal fade create-group" id="modal{{ row }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Create new group</h4>
                                        <form id="{{ key }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>Channel name</label>
                                            {#{{ appdict[key] }}#}
                                            {{ row }}
                                            <input type="text" name="groupname" class="verif content"/>
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            <input type ="hidden" name="category_name" value="{{ row }}">
                                            <input type="hidden" name="currenturl" value="{{ currenturl }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        <label>Add users to this group <span>(optional)</span></label>
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        <div form="{{ key }}form" id="userselect" class="new_members ajax-result">
                                                {%  for entry in AllUserNames %}
                                                     <input type="checkbox" form="{{ key }}form" name="userlist" value="{{ entry[0] }}"/> {{ entry[0] }}<br />
                                                {% end %}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" name="close" form="{{ key }}form" class="btn btn-secondary" data-dismiss="modal">close</button>
                                            <button type="submit" name="edit" form="{{ key }}form" class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- add category modal-->
                        <div class="modal fade create-group" id="modalcategory{{ row }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add a category</h4>
                                        <form id="category{{ key }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>Categories are used to classify your channels</label>
                                            {#{{ appdict[key] }}#}
                                            {{ row }}
                                            <input type="text" name="categoryname" class="verif content"/>
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            {#<input type ="hidden" name="category_name" value="{{ row }}">#}
                                            <input type="hidden" name="currenturl" value="{{ currenturl }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        {#<label>Add users to this group <span>(optional)</span></label>#}
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        {#<div form="{{ key }}form" id="userselect" class="new_members ajax-result">#}
                                                {#{%  for row in AllUserNames %}#}
                                                     {#<input type="checkbox" form="{{ key }}form" name="userlist" value="{{ row[0] }}"/> {{ row[0] }}<br />#}
                                                {#{% end %}#}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        {#</div>#}
                                        <div class="modal-footer">
                                            <button type="button" name="category_close" form="category{{ key }}form" class="btn btn-secondary" data-dismiss="modal">close</button>
                                            <button type="submit" name="category_create" form="category{{ key }}form" class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- rename category modal-->
                        <div class="modal fade create-group" id="modal_rename_category{{ row }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Rename Category {{ row }}</h4>
                                        <form id="rename_category{{ key }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>Categories are used to classify your channels</label>
                                            {#{{ appdict[key] }}#}
                                            {{ row }}
                                            <input type="text" name="new_categoryname" class="verif content"/>
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            <input type ="hidden" name="old_category_name" value="{{ row }}">
                                            <input type="hidden" name="currenturl" value="{{ currenturl }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        {#<label>Add users to this group <span>(optional)</span></label>#}
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        {#<div form="{{ key }}form" id="userselect" class="new_members ajax-result">#}
                                                {#{%  for row in AllUserNames %}#}
                                                     {#<input type="checkbox" form="{{ key }}form" name="userlist" value="{{ row[0] }}"/> {{ row[0] }}<br />#}
                                                {#{% end %}#}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        {#</div>#}
                                        <div class="modal-footer">
                                            <button type="button" name="category_close" form="rename_category{{ key }}form" class="btn btn-secondary" data-dismiss="modal">close</button>
                                            <button type="submit" name="category_rename" form="rename_category{{ key }}form" class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- delete category modal-->
                        <div class="modal fade create-group" id="modal_delete_category{{ row }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Delete Category {{ row }}</h4>
                                        <form id="delete_category{{ row }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>Do you really want to delete {{ row }} ?</label>
                                            {#{{ appdict[key] }}#}
                                            {{ row }}
                                            {#<input type="text" name="new_categoryname" class="verif content"/>#}
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            <input type ="hidden" name="delete_category_name" value="{{ row }}">
                                            <input type="hidden" name="currenturl" value="{{ currenturl }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        {#<label>Add users to this group <span>(optional)</span></label>#}
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        {#<div form="{{ key }}form" id="userselect" class="new_members ajax-result">#}
                                                {#{%  for row in AllUserNames %}#}
                                                     {#<input type="checkbox" form="{{ key }}form" name="userlist" value="{{ row[0] }}"/> {{ row[0] }}<br />#}
                                                {#{% end %}#}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        {#</div>#}
                                        <div class="modal-footer">
                                            <button type="button" name="category_close" form="delete_category{{ row }}form" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <button type="submit" name="category_delete" form="delete_category{{ row }}form" class="btn btn-danger">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% end %}
                    {% end %}
                    {#<div class="modal fade" id="addCategory" role="dialog" aria-labelledby="AddCategoryLabel" aria-hidden="true">#}
                              {#<div class="modal-dialog" role="document">#}
                                {#<div class="modal-content">#}
                                  {#<div class="modal-header">#}
                                    {#<h5 class="modal-title" id="exampleModalLabel">Create a new #channel</h5>#}
                                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                                      {#<span aria-hidden="true">&times;</span>#}
                                    {#</button>#}
                                  {#</div>#}
                                  {#<div class="modal-body">#}
                                    {#<h3>Create a new #channel</h3>#}
                                      {#Add a name to your #channel and add users or groups to it.<br>#}
                                      {#<input type="text" class="verif_content">#}
                                  {#</div>#}

                                {#</div>#}
                              {#</div>#}
                        {#</div>#}
                    <!--<div class="dates-widget">
                        <div class="title">
                            <span class="icon-calendar"></span>
                            <span>Agenda</span>
                        </div>
                        <ul class="dates-list">
                            <li><a href="#"><span class="icon-check"></span><span>Liste 1</span></a></li>
                            <li><a href="#"><span class="icon-check"></span><span>Liste 2</span></a></li>
                        </ul>
                    </div>
                </div>-->
            </aside>