<aside class="app-menu">

                <div class="scrollbar-section">
                    <div class="channels-widget" >
                        {#{{ appdict }}#}
                        {% for key in appdict %}
                            {% for row in appdict[key] %}
                        <div class="title collapse-control" href="#{{ key }}" data-toggle="collapse">
                            <span class={{ iconvariable }}></span>
                            <span>{{ key }}</span>
                            <span class="collapse-icon icon-arrow-top"></span>
                            <!--<span class="badge">999 <span class="plus">+</span></span>-->
                        </div>

                        <div class="widget-content collapsible-section collapse in" id="{{ key }}">
                        {#<a href="#addCategory" class="dropdown-item" data-toggle="modal" data-target="#addCategory">Add a bla</a><br /><!-- Modal popup in a dropdown doesn't work, must use directcall via jquery-->#}

                            <div class="info"><span>{{ row }}</span>
                                    {#<li class="dropdown ">#}

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-settings"></i></a>
                                    <ul class="dropdown-menu" role="menu"><!--<span class="channels-count">(5)</span><a href="#"><span class="icon-plus"></span></a>-->
                                        <div class="wrapper">
                                        <a href="javascript:$('#modal{{ key }}').modal('show')" class="dropdown-item" data-toggle="modal" data-target="#modal">Add a #Channel</a><br /><!-- Modal popup in a dropdown doesn't work, must use directcall via jquery-->
                                        <a href="#exampleModal" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Add category</a><br />
                                        <a href="#exampleModal" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Rename category #Channel</a><br />
                                        <a href="#exampleModal" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Delete category</a><br />

                                    </ul>

                                </div>
                            {#{% end %}#}
                            <ul class="channels-list">


                                {#bloup{{ appdict[key][row] }}#}
                                {#appdict key{{ appdict[key] }}#}
                                {#{% for entry in row[key] %}#}
                                {% for entry in appdict[key][row] %}
                                <li><a  href="./{{ entry }}">{{ entry }}</a><span class="icon-members channels-list li a:hover"></span></li>
                                {% end %}
                                {% end %}

                            </ul>



                                    </div>
                        {% end %}

                    {% for key in appdict %}
                    {#{% block modal %}#}
                        <div class="modal fade create-group" id="modal{{ key }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Create new group</h4>
                                        <form id="{{ key }}form" action="http://espace1.exaltia.org/{{ key }}/groupsearch" method="post">
                                            {% module xsrf_form_html() %}
                                            <label>Group name</label>
                                            <input type="text" name="groupname" class="verif content"/>
                                            <input type ="hidden" name="appname" value="{{ key }}">
                                            {#<input type="text" id="json-ajax" name="users"/>#}
                                        </form>
                                        <label>Add users to this group <span>(optional)</span></label>
                                        {#<select name="userselect" id="userselect" class="select-ajax" data-url-ajax="http://espace1.exaltia.org/un/groupsearch" data-select-template="formatAjaxObject" data-append-template="insertAjaxObject" multiple="">#}
                                        </select>
                                        <div form="{{ key }}form" id="userselect" class="new_members ajax-result">
                                                {%  for row in AllUserNames %}
                                                     <input type="checkbox" form="{{ key }}form" name="userlist" value="{{ row[0] }}"/> {{ row[0] }}<br />
                                                {% end %}
                                        {#<div class="actions_modal">#}
                                            {#<button type="submit" name="edit" form="form" class="btn btn-primary">Create group and edit</button>#}
                                            {#<button type="submit" name="create" form="form" class="btn btn-primary">Done</button>#}
                                        {#</div>#}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" name="close" form="{{ key }}form" class="btn btn-secondary" data-dismiss="modal">close</button>
                                            <button type="submit" name="edit" form="{{ key }}form" class="btn btn-primary">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {#{% end %}#}
                    {% end %}
                    {#<div class="modal fade" id="addCategory" role="dialog" aria-labelledby="AddCategoryLabel" aria-hidden="true">#}
                              {#<div class="modal-dialog" role="document">#}
                                {#<div class="modal-content">#}
                                  {#<div class="modal-header">#}
                                    {#<h5 class="modal-title" id="exampleModalLabel">Create a new #channel</h5>#}
                                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                                      {#<span aria-hidden="true">&times;</span>#}
                                    {#</button>#}
                                  {#</div>#}
                                  {#<div class="modal-body">#}
                                    {#<h3>Create a new #channel</h3>#}
                                      {#Add a name to your #channel and add users or groups to it.<br>#}
                                      {#<input type="text" class="verif_content">#}
                                  {#</div>#}

                                {#</div>#}
                              {#</div>#}
                        {#</div>#}
                    <!--<div class="dates-widget">
                        <div class="title">
                            <span class="icon-calendar"></span>
                            <span>Agenda</span>
                        </div>
                        <ul class="dates-list">
                            <li><a href="#"><span class="icon-check"></span><span>Liste 1</span></a></li>
                            <li><a href="#"><span class="icon-check"></span><span>Liste 2</span></a></li>
                        </ul>
                    </div>
                </div>-->
            </aside>