<aside id="right_sidebar" class="sidebar right-sidebar">
                <div class="scrollbar-section">
                    <div class="sidebar-content info-section">
                        <div class="sidebar-header">
                            <h3 class="title"> {{ RoomName }} <a href="#"><span class="icon-notification"></span></a></h3>
                            <input type="hidden" name="title2" value="{{ RoomName }}">
                            <span class="description">Created by <a href="#">member</a> on August 26th</span>
                            <a href="#" class="close-panel-button"><span class="icon-close"></span></a>
                        </div>
                        <ul id="dragableList" class="list-unstyled">
                            <li class="widget about">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseAbout" aria-expanded="true" aria-controls="collapseAbout">
                                    <span class="icon-info"></span>
                                    <span class="title">About</span>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <div class="collapsible-section collapse in" id="collapseAbout">
                                    <div class="widget-content">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="widget members">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseMembers" aria-expanded="true" aria-controls="collapseMembers">
                                    <span class="icon-members"></span>
                                    <span class="title">Members</span>
                                    <div class="dropdown btn-group">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-plus"></span></a>
                                        <div class="dropdown-menu users-checklist-dropdown">
                                            <div class="title clearfix"><span class="pull-left">33 members selected</span><a class="dropdown-close-btn pull-right"><span class="icon-close"></span></a></div>
                                            <div class="search-group"><i class="fa fa-search" aria-hidden="true"></i><input type="search" id="sidebar-user-search" /></div>
                                            <div class="users-list">
                                                <div class="scrollbar-section">
                                                    <ul>
                                                        <li>
                                                            <label for="checkbox-user-1" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-1" type="checkbox" class="checkbox-user-1" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 1</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-2" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-2" type="checkbox" class="checkbox-user-2" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 2</span>
                                                                <span class="user-status"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-3" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-3" type="checkbox" class="checkbox-user-3" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 3</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-4" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-4" type="checkbox" class="checkbox-user-4" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 4</span>
                                                                <span class="user-status"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-5" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-5" type="checkbox" class="checkbox-user-5" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 5</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-6" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-6" type="checkbox" class="checkbox-user-6" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 6</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <span class="description">En ligne (2/28)</span>
                                <div class="collapsible-section collapse in" id="collapseMembers">
                                    <div class="widget-content">
                                        <ul class="users-list">
                                            {% for row in UserNames %}
                                            <li><a href="/privateroom/@{{ row[0] }}" class="thumbnail user-avatar"><img src="../../static/images/user-avatar.png" alt=""></a><span>{{ row[0] }}</span></li>
                                            {% end %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="widget shared-files">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseSharedFiles" aria-expanded="true" aria-controls="collapseSharedFiles">
                                    <span class="icon-file"></span>
                                    <span class="title">Shared Files</span>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <div class="collapsible-section collapse in" id="collapseSharedFiles">
                                    {% for row in Filespath %}
                                    <input type = "hidden" value="{{ fname = row[4].split('/') }}">
                                    <div class="widget-content">
                                        <div class="widget-item uploaded-file-wrapper">
                                            <a href="../../../../{{ row[4] }}" class="uploaded-file" data-lightbox="../../../../{{ row[4] }}">
                                                {% if str(row[6]).startswith('image') %}
                                                    <img src="../../../../{{ row[4] }}" alt="">
                                                {% else %}
                                                    <img src="../../static/images/user-avatar.png">
                                                {% end %}
                                            </a>
                                            <div class="description">
                                                <div class="file-info">

                                                    <a href="#" class="file-name">{{ fname[2] }}</a>
                                                    {% if row[5] >= 1048576 %}
                                                        <input type = "hidden" value="{{ filesize = float(row[5] / 1048576.00) }}">
                                                        <span class="file-size">{{ ("%.2f" % filesize) }}MB</span>

                                                    {% elif row[5] >= 1024 %}
                                                        <input type = "hidden" value="{{ filesize = row[5] / 1024.00 }}">
                                                        <span class="file-size">{{ ("%.2f" % filesize) }}KB</span>
                                                    {% end %}
                                                </div>
                                                <div class="user-description">
                                                    <a href="#" class="user-name">{{ row[2] }}</a>
                                                    <span>{{ row[3] }}</span>
                                                </div>
                                            </div>
                                            <div class="widget-item-menu">
                                                <div class="dropdown btn-group">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                                    <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
                                                        <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="/detach?{{ fname[2] }}&{{ RoomName[0] }}">Detach the file</a></li>
                                                        <li><a href="#">Open a #fileroom</a></li>
                                                        <li><a href="../../../../{{ row[4] }}" download>Download file</a></li>
                                                        <li><a href="#">Add to filemanager</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% end %}
                                </div>
                            </li>
                            {% raw pinnedcontent %}
                            <li class="widget links" hidden>
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseLinks" aria-expanded="true" aria-controls="collapseLinks">
                                    <span class="icon-pin"></span>
                                    <span class="title">Links</span>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <div class="collapsible-section collapse in" id="collapseLinks">
                                    <div class="widget-content">
                                        <div class="widget-item link-item">
                                            <a href="#" class="link-preview uploaded-file">
                                                <img src="../../static/images/uploaded-img.png" alt="">
                                            </a>
                                            <div class="description">
                                                <div class="title"><a href="#">Test du kit Bluetens : l’objet con Test du kit Bluetens</a></div>
                                                <p>Les objets connectés dont nous avons le plus parlé dans nos colonnes sont essentiellement des équipements pour la maison et des accessoires de mesure de soi (montre...</p>
                                                <div class="info"><span>Shared by: <a href="#">arnauddsj</a><span class="date">Aug 31st at 3:38 PM</span></span></div>
                                            </div>
                                            <div class="widget-item-menu">
                                                <div class="dropdown btn-group">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                                    <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
                                                        <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="#">Detach the file</a></li>
                                                        <li><a href="#">Open a #fileroom</a></li>
                                                        <li><a href="#">Download file</a></li>
                                                        <li><a href="#">Add to filemanager</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown btn-group">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-link"></i></a>
                                                    <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
                                                        <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="#">Detailed view</a></li>
                                                        <li><a href="#">Simple view</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>